rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   match /customers/{customerId}/feeds/{document=**} {
     allow read: if request.auth != null && request.auth.token.customerId == '' + customerId;
   }
   match /customers/{customerId}/activities/{document=**} {
     allow read: if request.auth != null && request.auth.token.customerId == '' + customerId;
   }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}